<% provide(:title, 'Home') %>

    <div id="map-canvas" style="width: 40%; height: 100%;float:left"></div>
    <div id="pano" style="width: 40%; height: 100%;float:left"></div>
    <div id="panoInfo" style="width: 20%; height: 100%;float:left">
    <table>
      <tr>
        <td><b>Position</b></td><td id="position_cell">&nbsp;</td>
      </tr>
      <tr>
        <td><b>POV Heading</b></td><td id="heading_cell">270</td>
      </tr>
      <tr>
        <td><b>POV Pitch</b></td><td id="pitch_cell">0.0</td>
      </tr>
      <tr>
        <td><b>Pano ID</b></td><td id="pano_cell">&nbsp;</td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td><b>Number</b></td><td id="number">&nbsp;</td>
      </tr>
      <tr>
        <td><b>Degree</b></td><td id="degree">&nbsp;</td>
      </tr>
      <table id="links_table"></table>
    </table>

    <p>New Degree: 
    <input id = "NewDegree" type="number" name="newdegree" /> 
    <input type = "submit" name="newsubmit" value="submit to server" />
    </p>
    </div>

    <%(2..101).each do |n|%>
    <h1> <%= @sheet[n,2] %> </h1>
    <%end%>